<% content_for :head do %>
<% end %>
<h1>キラメモ</h1>

<div id="container">
  <ul>
    <% @stamps.each do |stamp| %>
      <li class="stamp"><%= image_tag(stamp.image_url, width: 200) %></li>
    <% end %>
  </ul>
</div>
