<%- model_class = Stamp -%>
<div class="page-header">
  <h1>キラメモ</h1>
  <div>
    <button><%= link_to "Upload", action: :new %></button>
  </div>
</div>
<ul class="table table-striped container">
  <% @stamps.each do |stamp| %>
    <li class="stamp">
      <%= image_tag(stamp.image_url, width: 200) %>
      <div><%= stamp.name %></div>
      <div><%= stamp.description %></div>
    </li>
  <% end %>
</ul>
