Upload!!
<%= form_for(@new_image) do |f| %>
  <table>
    <tbody>
      <tr>
        <th>画像</th>
        <td><%= f.file_field :image %></td>
      </tr>
      <tr>
        <th>キーワード</th>
        <td><%= f.text_field :name, length: 40, placeholder: "ていうかもう寝よう" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.submit "Upload!" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
