// Place all the styles related to the stamps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stamp-wrap {
  position:relative;
}

#container {
  width:100%;
  margin:0 auto;
  position:relative;
}

li.stamp {
  /*margin:0 10px;*/
  float:left;
  display:inline-block;
  width:216px;
  margin:8px;
  padding:8px;
  border:1px solid #eee;
}
